:root {
    --body-bg-color: #f4f7f6;
    --header-footer-bg-color: #243447;
    --box-bg-color: #e3e6e8;
    --text-color: #333333;
    --header-footer-text-color: #ffffff;
    --footer-secondary-text-color: #9aacb2;
    --nav-link-color: #1da1f2;
    --nav-link-hover-color: #0d8ed9;
    --main-img-border-color: #243447;
    --footer-top-border-color: #1da1f2;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--body-bg-color);
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

header {
    background-color: var(--header-footer-bg-color);
    padding: 1em 0;
    text-align: center;
}

header img {
    max-width: 150px;
    height: auto;
}

nav a {
    text-decoration: none;
    color: var(--nav-link-color);
    margin: 0 1em;
}

nav a:hover {
    color: var(--nav-link-hover-color);
}

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--header-footer-text-color);
}

article, section {
    padding: 1em;
    background-color: var(--box-bg-color);
    margin: 1em 0;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: var(--header-footer-bg-color);
    color: var(--footer-secondary-text-color);
    padding: 1em 0;
    text-align: center;
}

footer a img {
    height: auto;
    width: auto;
    max-width: 32px;
    max-height: 32px;
    margin: 0 0.5em;
}

footer p {
    color: var(--footer-secondary-text-color);
    margin: 0.5em 0;
}

@media screen and (max-width: 960px) {
    body {
        padding: 0 20px;
    }
}