:root {
    --body-bg-color: #f4f7f6;
    --header-footer-bg-color: #243447;
    --box-bg-color: #e3e6e8;
    --text-color: #333333;
    --header-footer-text-color: #ffffff;
    --footer-secondary-text-color: #9aacb2;
    --nav-link-color: #1da1f2;
    --nav-link-hover-color: #0d8ed9;
    --aside-h2-bg-color: #000000;
    --aside-h2-text-color: #ffffff;
    --main-img-border-color: #243447;
    --box-border-color: rgba(0,0,0,.1);
    --footer-top-border-color: #1da1f2;
    --box-shadow-color: rgba(0, 0, 0, 0.2);
}

body {
    font-family: Arial, sans-serif;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: var(--body-bg-color);
}

header, footer {
    background-color: var(--header-footer-bg-color);
    color: var(--header-footer-text-color);
}

header img, footer img {
    width: 150px; /* Adjust as needed */
}

nav a {
    text-decoration: none;
    color: var(--nav-link-color);
    margin-right: 10px;
}

nav a:hover {
    color: var(--nav-link-hover-color);
}

.hero {
    position: relative;
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
}

h1 {
    position: absolute;
    top: 20%;
    left: 10%;
    color: var(--nav-link-color);
}

article img {
    float: right;
    margin-left: 20px;
}

article {
    background-color: var(--box-bg-color);
    padding: 20px;
    box-shadow: 0 2px 5px var(--box-shadow-color);
    border: 1px solid var(--box-border-color);
}

footer {
    background-color: var(--header-footer-bg-color);
    color: var(--footer-secondary-text-color);
    padding: 20px 0;
    border-top: 3px solid var(--footer-top-border-color);
}

footer p {
    color: var(--footer-secondary-text-color);
}

footer a img {
    height: auto;       /* Maintain aspect ratio */
    width: auto;        /* Maintain aspect ratio */
    max-width: 32px;    /* Maximum width for the logos */
    max-height: 32px;   /* Maximum height for the logos */
}

main h2 {
    color: var(--nav-link-color);
}

main p, .footer-text {
    color: var(--text-color);
    line-height: 1.6;
}

/* Remove underlines from social media links */
footer a {
    text-decoration: none;
}

/* Style for images in main section */
main img {
    border: 1px solid var(--main-img-border-color);
    margin: 5px;
}

/* Style for aside h2 */
aside h2 {
    background-color: var(--aside-h2-bg-color);
    color: var(--aside-h2-text-color);
    padding: 10px;
    display: inline-block;
}
