* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 80%;
}

main img {
  width: 150px;
  height: auto;
}

p {
  padding: 0;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #cccccc;
  text-align: center;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: #f5f5f5; /* Light grey background */
  color: #ffffff; /* White text */
}

aside {
  width: 30%;
}

aside img {
  width: 200px;
  height: auto;
}